.container {
  display: flex;

  height: 100%;

  flex-direction: column;
  background: var(--black-10);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 128px 256px;
  align-items: center;
  /* background: blueviolet; */
}

.socials {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.icon {
  display: flex;
}

p {
  color: var(--black-75);
}

.content p span {
  color: var(--primary-color);
}

.icon a {
  text-decoration: none;
  text-decoration-style: none;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  width: 100%;
}

@media only screen and (max-width: 611px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 80px 32px;

    /* background: blueviolet; */
  }

  .icon a {
    font-size: 40px;
  }
}

@media only screen and (max-width: 925px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 104px 64px;

    /* background: blueviolet; */
  }
}
