.container {
  display: flex;

  height: 100%;
  background: var(--black-10);
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 128px 256px;
  /* background: blueviolet; */
}
.title {
  margin: 0;
  font-weight: normal;
  color: var(--black-75);
}

.tools {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 611px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 80px 32px;

    /* background: blueviolet; */
  }
}

@media only screen and (max-width: 925px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 96px 64px;

    /* background: blueviolet; */
  }
}
