.container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 128px 256px;
  /* background: blueviolet; */
}

.about_image {
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
@media only screen and (max-width: 925px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 104px 64px;

    /* background: blueviolet; */
  }
  h1 {
    font-size: 59px;
  }

  h2 {
    font-size: 46px;
  }
  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 27px;
  }

  h5 {
    font-size: 21px;
  }

  h6 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 611px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 80px 32px;

    /* background: blueviolet; */
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 33px;
  }
  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 23px;
  }

  h5 {
    font-size: 19px;
  }

  h6 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }
}
