:root {
  --primary-color: rgb(16, 164, 239);
  --black: rgb(24, 25, 26);
  --black-75: rgba(24, 25, 26, 0.75);
  --black-50: rgba(24, 25, 26, 0.5);
  --black-25: rgba(24, 25, 26, 0.25);
  --black-10: rgba(24, 25, 26, 0.1);
  --black-5: rgba(24, 25, 26, 0.05);
}

body {
  margin: 0;
  background-color: #f8f8f2;
  background: radial-gradient(circle, #eff0f4, #e7e9f8);
}

* {
  box-sizing: border-box;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

h1,
h2,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 90px;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 45px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 23px;
}
h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
}
